services:
  service-template:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: service-template:dev
    container_name: service-template
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      OTLP_ENABLED: "true"
      OTLP_ENDPOINT: "http://otel-collector:4317"
      OTEL_SERVICE_NAME: "service-template"
    depends_on:
      - otel-collector

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    ports:
      - "3200:3200"   # Tempo HTTP (Grafana datasource points here)
    volumes:
      - ./docker/tempo/tempo.yml:/etc/tempo.yml
    command: ["-config.file=/etc/tempo.yml"]

  otel-collector:
    image: otel/opentelemetry-collector:latest
    container_name: otel-collector
    ports:
      - "4317:4317"   # OTLP gRPC receiver (your app sends here)
      - "4318:4318"   # OTLP HTTP receiver (optional)
    volumes:
      - ./docker/otel/otel-collector.yml:/etc/otelcol/config.yml
    command: ["--config=/etc/otelcol/config.yml"]
    depends_on:
      - tempo

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana-data:/var/lib/grafana
      - ./docker/grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - tempo

volumes:
  grafana-data:
