server:
  port: 8080

spring:
  application:
    name: service-template
  threads:
    virtual:
      enabled: true
  mvc.problemdetails.enabled: true #return RFC7807 problem details in error responses
  main:
    web-application-type: servlet # This application is a servlet-based web application

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint.health.show-details: always
  tracing:
    sampling:
      probability: 1.0
    export:
      enabled: false # tracer still exists, but nothing leaves the process
  otlp:
    metrics:
      export:
        enabled: false # would try to export to something like http://localhost:4318/v1/metrics

app: # namespace for Spring configuration keys
  identity: # ex can add app.differentConcern.http.headers for other headers. Inbound/Outbound share these
    http:
      headers:
        userId: "x-user-id"
        requestId: "x-request-id"
    #future protocols can be added here.

  logging:
    mdc:
      # transport protocol agnostic
      userId: "userId"
      requestId: "requestId"
      kind: "kind" # http, sqs etc
      name: "name" # e.g. "/users/{id}", "queue:orders"
      method: "method" #GET, POST, QUERY
      status: "status"
      durationMs: "durationMs"

      kindValues: # future protocol can be added here
        http: "http"

  outbound:
    # configuration for outbound clients, add protocols as needed
    http:
      defaults:
        connect-timeout: 2s
        read-timeout: 5s
        propagate-identity: false

        # Advertise supported encodings (server may ignore).
        # Client handles gzip automatically via the underlying HTTP client.
        accept-encoding: gzip

      # add configurable outbound http clients here. Transport agnostic, doesn't need to be RestClient
      clients:
        ping: # example client for services in same VPC or organization, propagates identity
          base-url: "http://ping-service.internal" # Example smoke service endpoint
          connect-timeout: 2s
          read-timeout: 5s
          propagate-identity: true
          accept-encoding: "" # disables header.


