spring:
  config:
    activate:
      on-profile: dev

logging:
  level:
    root: DEBUG
    org.springframework.boot.autoconfigure: INFO #so spring boot autoconfig logs are less noisy

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers,prometheus
  info:
    git:
      mode: full
  tracing:
    sampling:
      probability: 1.0
  prometheus:
    metrics:
      export:
        enabled: true