spring:
  config:
    activate:
      on-profile: prod

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers,prometheus
  endpoint.health.show-details: never
  info: #will be on actuator info endpoint
    git:
      mode: full
  tracing:
    sampling:
      probability: 1.0
  prometheus:
    metrics:
      export:
        enabled: true

server:
  compression: #if ping sends Accept-Encoding: gzip, automatically get this feature during response
    enabled: true
    min-response-size: 1024   # bytes
    mime-types:
      - application/json