server:
  port: 8080

spring:
  application:
    name: service-template
  threads:
    virtual:
      enabled: true
  mvc.problemdetails.enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint.health.show-details: always

app:
  logging:
    mdc:
      headers:
        x-gateway-trace-id: gatewayTraceId
        x-user-id: userId
      method: "http.method"
      path: "http.path"
      status: "http.status"
      durationMs: "http.durationMs"