spring:
  config:
    activate:
      on-profile: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers,prometheus
  prometheus:
    metrics:
      export:
        enabled: true
  tracing:
    export:
      otlp:
        enabled: ${OTLP_ENABLED:false}
        endpoint: ${OTLP_ENDPOINT:http://localhost:4317}

  otlp:
    metrics:
      export:
        enabled: false