spring:
  config:
    activate:
      on-profile: prod

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers,prometheus
  info:
    git:
      mode: full
  tracing:
    sampling:
      probability: 1.0
  prometheus:
    metrics:
      export:
        enabled: true