server:
  port: 8080

spring:
  application:
    name: service-template
  threads:
    virtual:
      enabled: true
  mvc.problemdetails.enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint.health.show-details: always

app:
  http:
    headers:
      userId: "x-user-id"
      requestId: "x-request-id"
    kind: "http"

  logging:
    mdc:
      # transport protocol agnostic
      userId: "userId"
      requestId: "requestId"
      kind: "kind" # http, sqs etc
      name: "name" # e.g. "/users/{id}", "queue:orders"
      method: "method" #GET, POST, QUERY
      status: "status"
      durationMs: "durationMs"