spring:
  config:
    activate:
      on-profile: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers,prometheus
  info:
    git:
      mode: full
  prometheus:
    metrics:
      export:
        enabled: true